body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
#title {
  margin-left: 3rem;
}

#title ul {
  margin-right: 3rem;
}

.footer_logo {
  margin-top: 1.5rem;
  padding-left: auto;
  padding-right: auto;  
}

.footer_logo span {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer_logo img {
  max-height: 6rem;
}

.footer-copyright img {
  max-height: 2.8rem;
}

   .footer-links .collapsible {
       background-color: #eee;
       color: #444;
       cursor: pointer;
       padding: 18px;
       width: 100%;
       border: none;
       text-align: left;
       outline: none;
       font-size: 15px;
   }

   .footer-links .content {
       display: none; /* Initially hide content */
       padding: 18px;
   }

   .footer-links .active {
       display: block;
   }

   .small-footer img {
    max-height: 3rem;
   }

   /* Media Query for smaller screens */
   @media (max-width: 768px) {
       .footer-links .content {
           display: none; /* Initially hide content */
       }

       .footer-links .active {
           display: block; /* Show content when active */
       }
   }