body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
#title {
  margin-left: 3rem;
}

#title ul {
  margin-right: 3rem;
}

.footer_logo {
  margin-top: 1.5rem;
  padding-left: auto;
  padding-right: auto;  
}

.footer_logo span {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer_logo img {
  max-height: 6rem;
}

.footer-copyright img {
  max-height: 2.8rem;
}

.small-footer img {
  max-height: 3rem;
}

.small-footer {
  padding-top: 1rem; 
}
