<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Schedule Manager</title>
</head>
<body>
    
    <header>
        <!-- top navbar -->
        <nav class="blue-grey lighten-2">
            <div id="title" class="nav-wrapper">
              <a href="#!" class="brand-logo">Schedule Manager</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('add_vehicle') }}">New Vehicle Service</a></li>
                <li><a href="{{ url_for('services') }}">Service Types</a></li>
              </ul>
            </div>
          </nav>
          <!-- mobile navbar -->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_vehicle') }}">New Vehicle Service</a></li>
            <li><a href="{{ url_for('services') }}">Service Types</a></li>
          </ul>
                  
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="blue-grey lighten-2">
      <section>
      <div class="row right hide-on-med-and-down">
        <div class="col l12 center-align">
          <div class="footer_logo">
            <span><a class="grey-text text-lighten-3" href="https://www.volvotrucks.co.uk/en-gb/tools/dealer-locator.html" target="_blank"><img src="../static/images/volvo_logo.png" alt="volvo trucks logo"></a></span>
            <span><a class="grey-text text-lighten-3" href="https://www.scania.com/uk/en/home/find-dealers.html" target="_blank"><img src="../static/images/scania_logo.png" alt="scania trucks logo"></a></span>
            <span><a class="grey-text text-lighten-3" href="https://www.mercedes-benz-trucks.com/gb/en/dealer-locator.html" target="_blank"><img src="../static/images/merc_logo.png" alt="mercedes trucks logo"></a></span>
            <span><a class="grey-text text-lighten-3" href="https://www.daf.co.uk/en-gb/dealer-locator-page" target="_blank"><img src="../static/images/daf_logo.png" alt="DAF trucks logo"></a></span>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2025 Copyright Text
          <a class="grey-text text-lighten-4 right" href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" target="_blank"><img src="../static/images/dvsa_logo.png" alt="dvsa logo"></a>
        </div>
      </div>
      </section>
      <!-- mobile navbar -->
      <div class="footer-container hide-on-large-only">
        <section class="footer-links">
          <button class="collapsible blue-text darken-2">Dealer Links</button>
          <div class="small-footer center-align">
            <a href="https://www.volvotrucks.co.uk/en-gb/tools/dealer-locator.html" target="_blank"><img src="../static/images/volvo_logo.png" alt="volvo truck logo"></a>
            <a href="https://www.scania.com/uk/en/home/find-dealers.html" target="_blank"><img src="../static/images/scania_logo.png" alt="scania truck logo"></a>
            <a href="https://www.mercedes-benz-trucks.com/gb/en/dealer-locator.html" target="_blank"><img src="../static/images/merc_logo.png" alt="mercedes truck logo"></a>
            <a href="https://www.daf.co.uk/en-gb/dealer-locator-page" target="_blank"><img src="../static/images/daf_logo.png" alt="daf truck logo"></a>
          </div>
          <div class="footer-copyright">
            <div class="container">
              © 2025 Copyright Text
              <a class="grey-text text-lighten-4 right" href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" target="_blank"><img src="../static/images/dvsa_logo.png" alt="dvsa logo"></a>
            </div>
          </div>
        </section>
      </div>

    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>