{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Vehicles</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_vehicle') }}" class="btn-large light-blue darken-2">
            Add Vehicle <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

  <ul class="collapsible">
    {% for vehicle in vehicles|sort(attribute="due_date") %}
    <li>
      <div class="collapsible-header white-text light-blue darken-4">
        <i class="fas fa-caret-down"></i>
        <strong>{{ vehicle.vehicle_reg }}</strong> : {{ vehicle.due_date }}  
        {% if vehicle.work_completed == False %}
           <i class="fas fa-exclamation-circle red-text"></i><span class="completed">INCOMPLETE</span>
        {% else %}
            <i class="completed fas fa-solid fa-check green-text"></i>
        {% endif %}
      </div>
      <div class="collapsible-body">
        <strong>{{ vehicle.service }}</strong>
        <p>{{ vehicle.vehicle_type }}</p>
        <p>
          <a href="{{ url_for('edit_vehicle', vehicle_id=vehicle.id) }}" class="btn green accent-4">Edit</a>
          <button data-target="modal1-{{ vehicle.id }}" class="btn red modal-trigger">Delete</button>
        </p>
        <div id="modal1-{{ vehicle.id }}" class="modal">
          <div class="modal-content">
            <h4>Delete Vehicle Service?</h4>
            <p>This cannot be undone!</p>
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('delete_vehicle', vehicle_id=vehicle.id) }}" class="btn red">Delete</a>
            <a href="modal-close" class="btn green accent-4">Cancel</a>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock %}